header {
    background-color: #4ea0ff;
    height: 160px;
    background-image: url("./img/pattern.png");
    padding-top: 30px;
}

.logo{
    height: 80px;
    width: 370px;
    margin-top: 80px;
}

#footer-text{
    color: #808080;
}

thead {
    background-color: #20a9e5;
}
tbody{
    background-color: #b1e5f2;
}
.twhite{
    background-color: white;
}
.white{
    color: white;
}

.div-footer{
    height: 208px;
    width: 312px;
    background-image: url("img/monitor.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.div-footer2{
    height: 208px;
    width: 312px;
    background-image: url("img/graph.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}